.main {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  height: 100vh;
}
.left {
  width: 50%;
  max-width: 400px;
  padding: 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.right {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  padding:  50px;
}

.call:hover {
  background-color: #e5e5e5;
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }
  .left {
    width: 100%;
    max-width: none;
    height: auto; /* Adjust height as needed */
  }

  .right {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .map-wrap {
    height: 300px; /* Adjust the height of the map for mobile */
    width: 100vw;  
}

  .map {
    height: 100%;
    width: 100vw;  
  }
}
